* {
    box-sizing: border-box;
}


p {
    font-size: 20px;
}

h1,
h2 {
    text-align: center;
}

.container  {
    display: flex;
    flex-wrap: wrap;
}



.container_item-list {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}



.container_item-grid {
    width: 25%;
    padding: 20px;

}



.container_item-list-img {
    flex-basis: 10%;
    margin-right: 10px;
    

}

.img-list {
    width: 100%;
}



.container_item-list-description {
    flex-basis: 70%;  
}

.container_item-list-price {
    flex-basis: 20%;
}


.nav {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    
} 

.button {
    display: none;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    
}


